.btn {
    color:white!important;
}
.btn:hover {
    color: #ffffff!important;
}
.btn-grad {
    background-image: linear-gradient(to right, #800000 0%, #ff5050 100%);
}
.btn-grad:before {
    background-image: linear-gradient(to right, #ff5050 0%, #800000 100%);
}
.bg-theme-grad {
    background-image: linear-gradient(90deg, #A67C00 0%, #BF9B30 100%);
}
.tc-light p, .tc-light a:not(.btn) p, .tc-light .list, .tc-light a:not(.btn) .list {
    color: #f8f9fa;
}
.bg-theme {
    background-color: #a67c01;
}
.bg-theme-alt {
    background-color: #BF9B30;
}
.tc-light .input-line, .tc-light a:not(.btn) .input-line {
    color: #fff;
    border-bottom-color: #f6be26;
}
.tc-light .wgs-title, .tc-light a:not(.btn) .wgs-title {
    color: #ffffff;
}
.tc-light .contact-icon, .tc-light a:not(.btn) .contact-icon {
    color: #a67c00;
}
.contact-list li a {
    margin-right: 1em;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #fff;
    height: 36px;
    width: 36px;
    line-height: 36px;
    text-align: center;
}
.tc-light a:not(.btn):hover {
    color: #a67c00 !important;
}
.is-transparent .banner {
    padding-top: 0px;
}
.tile-primary {
    background: #b9932e;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}
.ath-container {
    width: 100%;
}
.topbar {
    position:relative;
}
.user-wraper {
    margin-top: 3em;
    margin-bottom: 3em;
}
.h-screen {
    height: 100vh;
}
.bg-shape {
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background-image: url(/images/shape-b.png?5d6060e…);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 60%;
    position: absolute !important;
}
.btn.disabled, .btn:disabled {
    cursor: not-allowed;
}
.input-bordered:disabled {
    background: #e9ecef;
}
